.gridArea {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    /* align-items: center; */
  }
  
  
  .myinformation {
    display: grid;
    grid-gap: 5px;
  }
  
  label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    margin: 1px;;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[disabled] {
    opacity: 0.5;
    cursor: default;
  }

